@model FunTranslator2.Models.Translation
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Translations</h2>

<div class="container">

    <div class="row">
        <div class="col-md-6 ">
            <label for="Text" class="form-label">Text</label>
            @Html.TextAreaFor(m => m.Text, new { @class = "form-control ", @placeholder = "Please type in your text here so that our Leet Speak can do the magic and convert it to Leet Speak ..." })
           
        </div>
        <div class="col-md-6 ">
            <label for="Translated" class="form-label">Translated Text</label>
            @Html.TextAreaFor(m => m.Translated, new { @class = "form-control ", @style = "resize: none", @readonly = "true" })
        </div>
    </div>
   
    <div class="row">
        <div class="form-group col-md-12 text-center" style="padding-top:10px">
            <button type="button" class="btn btn-primary" onclick="getTranslation()">Translate</button>
        </div>
    </div>

    <div>
        <table id="translations" class="table table-bordered table-hover" style="width: 100%; display: none;">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Text</th>
                    <th>Translated Text</th>
                    <th>Translation Type</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

</div>
